<div id="<%= dom_id(comment) %>" class="mb-1">
  <div class="d-flex flex-row">
    <div class="d-flex flex-column align-items-center mr-2">
      <%= render partial: 'shared/votes', locals: {
            record: comment,
            upvote_path: upvote_comment_path(comment),
            downvote_path: downvote_comment_path(comment) } %>
      <i class="threadline"></i>
    </div>

    <div class="flex-fill">
      <div class="text-muted">
        <small>
          Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> by <%= comment.user.email %>
        </small>
      </div>

      <div class="lead">
        <%= comment.content %>
      </div>

      <div class="actions">
        <%= render partial: 'comments/actions', locals: { comment: comment } %>
      </div>

      <ul class="mt-2">
        <%= render partial: 'comments/comment',
              collection: comment.comments.order(cached_weighted_average: :desc) %>
      </ul>
    </div>
  </div>
</div>
