<div id="<%= dom_id(link) %>" class="card mb-1">
  <div class="card-body">
    <div class="float-left">
      <div class="text-muted">
        <small>
          Submitted <strong><%= time_ago_in_words(link.created_at) %> ago</strong> by <%= link.user.email %>
        </small>
      </div>

      <div class="lead">
        <strong><%= link_to link.title, link.url %></strong>
      </div>

      <div class="mb-1">
        <small><%= link_to pluralize(link.comments.count, 'Comment'), link %></small>
      </div>

      <div class="btn-group">
        <%= link_to upvote_link_path(link), method: :put, class: "btn btn-outline-secondary btn-sm" do %>
          Upvote
          <%= link.get_upvotes.size %>
        <% end %>
        <%= link_to downvote_link_path(link), method: :put, class: "btn btn-outline-secondary btn-sm" do %>
          Downvote
          <%= link.get_downvotes.size %>
        <% end %>
      </div>
    </div>

    <div class="btn-group float-right">
      <% if link.user == current_user -%>
        <%= link_to 'Destroy', link,
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: "btn btn-sm btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
