<div id="<%= dom_id(link) %>" class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-2 col-md-1 d-flex flex-column align-items-center">
        <%= render partial: 'shared/votes', locals: {
              record: link,
              upvote_path: upvote_link_path(link),
              downvote_path: downvote_link_path(link) } %>
      </div>

      <div class="col-10 col-md-11">
        <div class="text-muted">
          <small>
            Submitted <strong><%= time_ago_in_words(link.created_at) %> ago</strong> by <%= link.user.email %>
            <% if link.user == current_user -%>
              | <%= link_to 'Destroy', link,
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: "text-danger" %>
            <% end %>
          </small>
        </div>

        <div class="lead">
          <strong><%= link_to link.title, link.url %></strong>
        </div>

        <div class="mb-1">
          <small><%= link_to pluralize(link.comments_count, 'Comment'), link %></small>
        </div>
      </div>
    </div>
  </div>
</div>
