<div class="card mb-2">
  <div class="card-body">
    <div class="d-flex flex-row">
      <div class="d-flex flex-column align-items-center mr-4">
        <%= render partial: 'shared/votes', locals: {
              record: @link,
              upvote_path: upvote_link_path(@link),
              downvote_path: downvote_link_path(@link) } %>
      </div>

      <div>
        <h1>
          <strong><%= link_to @link.title, @link.url %></strong>
        </h1>

        <div class="comment-count">
          <small>
            <%= pluralize(@link.comments_count, 'Comment') %>
          </small>
        </div>

        <div class="link-actions">
          <% if @link.user == current_user %>
          <%= link_to 'Edit', edit_link_path(@link) %> |
          <%= link_to 'Destroy', @link,
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: 'text-danger' %> |
          <% end %>
          <%= link_to 'Back', links_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="link-comment-form mb-4">
      <%= render partial: 'comments/form', locals: {
              link: @link,
              comment: Comment.new
            } %>
    </div>

    <div class="comments">
      <%= render partial: @link.comments.order(cached_weighted_average: :desc) %>
    </div>
  </div>
</div>
